<!doctype html>
<html lang="fr">
    <head>
        <%- include('./header')%>
        <title>Page</title>
    </head>
    <body>
        <%- include('./navbar.ejs')%>
        <h1 class="text-center">
            Page
        </h1>
    </body>
</html>