<!doctype html>
<html lang="fr">
    <head>
        <%- include('./header')%>
        <title>Test</title>
    </head>
    <body>
        <%- include('./navbar.ejs')%>
        <h1 class="text-center">
            Test
        </h1>
        <p>
            <%= id %>
        </p>
    </body>
</html>